.row
	.col-md-6.date-column
		%h3= link_to "By Date/Session", "/#{@type.to_s.dasherize}/date"

		%ul
			- 12.times do |d|
				- decade = (d * 10) + 1830
				%li= link_to "#{decade}s", "/#{@type.to_s.dasherize}/date/#{decade}s"
				
		%p= link_to "Looking for newspapers after 1945?", "#"
	.col-md-6
		%h3= link_to "By topic", "/#{@type.to_s.dasherize}/title"
		%ul
			- ['Aborigines', 'Crown lands', 'Education', 'Finance', 'Immigration', 'Immigration and public works', 'Legislative and political', 'Legislative and political (Includes Native Affairs)', 'Miscellaneous', 'Native affairs', 'Petitions', 'Postal and telegraphic', 'Postal, telegraphic, etc.', 'Public works', 'Reports Select committees'].each do |section|
				%li
					%a{:href => "/#{@type.to_s.dasherize}/section/#{section.parameterize}"}= section
		= link_to 'See all titles...', "/#{@type.to_s.dasherize}/section", :class => 'btn'
