= hidden_field_tag 'parliamentary_sessions', '', class: 'sendable'

%h4 What parliamentary session would you like to search?

.search-cats-col

	= render :partial => 'facets/select_all'

	- (184..195).to_a.each do |section|
		.facet-group
			%h5= "#{section}0-#{section}9"
			- 10.times do |n|
				%label.facet-title
					= check_box_tag 'x', 'x', true
					= "AJHR_#{(section * 10)+n}_I_A-G"


