= hidden_field_tag 'titles', params[:titles], class: 'sendable'

%h4 What titles would you like to search?

= render :partial => 'facets/select_all'

.row
	.col-md-6

		%h5 Magazines

		%label
			= check_box_tag "title[]", 'TAH', true
			Te Ao Hou

		%label
			= check_box_tag "title[]", 'KT', true
			Kai Tiaki: The Journal of New Zealand Nursing

	.col-md-6

		%h5 Journals

		%label
			= check_box_tag "title[]", 'RSNZ', true
			Transactions and Proceedings of the Royal Society


