%span.breadcrumbs
	- if not @item[:publication_title].nil?
		- url = "/#{@type}/title/#{@item[:publication_title].parameterize}"
		= link_to_unless_current @item[:publication_title], url

		- if not @item[:parliamentary_session].nil?
			%span.breadcrumb-separator »
			- url += "/#{@item[:parliamentary_session].parameterize}"
			= link_to_unless_current @item[:parliamentary_session], url

		- if not @item[:date].nil?
			%span.breadcrumb-separator »
			- url += "/#{@item[:date].year}"
			= link_to_unless_current @item[:date].year, url

			%span.breadcrumb-separator »
			- url += "/#{@item[:date].month.to_i}/#{@item[:date].day.to_i}"
			= link_to_unless_current "#{@item[:date].strftime("%B")} #{@item[:date].day.to_i}", url

		- if not @item[:page_number].nil?
			%span.breadcrumb-separator »
			- url += "/#{@item[:page_number]}"
			= link_to_unless_current "Page #{@item[:page_number]}", url
			- if not @item[:original].nil?
				%span.breadcrumb-separator »

