.calendar
	%h4= month
	%table
		%thead
			%tr
				%th S
				%th M
				%th T
				%th W
				%th T
				%th F
				%th S
		%tbody
			- 5.times do |week|
				%tr
					- 7.times do |d|
						- day = (week * 7) + d + 1
						- if day <= Date.new(current_year, m+1, 1).end_of_month.day
							- if @item.nil?
								- if day == 1
									%td.selected= day
								- else
									%td= day
							- else
								- if dates_list.include? Date.new(current_year, m+1, day)
									%td.published= link_to day, "/newspapers/title/#{@item[:title].parameterize}/#{current_year}/#{m+1}/#{day}"
								- else
									%td= day
