.search-box
	%form#search-form.form-inline{:role => "form", :method => 'get'}
		.input-group
			%input#query.form-control.input-lg.sendable{:name => 'query', :placeholder => "What are you looking for?", :value => params[:query]}
			%span.input-group-btn
				%button.btn.btn-default.input-lg{:type => "submit", 'data-intro' => "Enter words here to find articles containing those words", 'data-position' => "bottom"} Search
		.toolbox
			.tools.query-tools.closeable
				Search full text for
				%label 
					%input.sendable{:type => "radio", :name => "mode", :value => "", :checked => "checked"}
					<strong>Any</strong> of these words
				%label
					%input.sendable{:type => "radio", :name => "mode", :value => "all"}
					<strong>All</strong> of these words
				%label
					%input.sendable{:type => "radio", :name => "mode", :value => "exact"}
					This <strong>exact phrase</strong>

			- @facets.each do |facet|
				.tools.facet-tools{ :id => "#{facet['name']}-picker"}
					= render :partial => 'shared/done_widget'
					- if facet['custom_template']
						= render :partial => "facets/#{facet['name'].gsub('-', '_')}"
					- else 
						= render :partial => "facets/facet", :locals => { :facet => facet }
