.format-home
	.row
		.col-md-3

			%h2.facet
				%small Looking in 
				.search-title-region-message{'data-intro' => "Click here to choose specific newspaper titles", 'data-position' => "right"}
					%a{href: "#region-picker"}
						%span All titles from all NZ regions
					%a.btn.btn-xs{href: "#region-picker"} Change

			%h2.facet
				%small published between
				.search-date-message{'data-intro' => "Click here to choose a specific range of dates", 'data-position' => "right"}
					%a{href: "#dates-picker"}
						%span 1830 and 1945
					%a.btn.btn-xs{href: "#dates-picker"} Change

			.well
				%p= raw(@format_class.description)

				%h4= link_to "Learn more about the newspaper titles", '/newspapers/title'

		.col-md-9

			.search-box
				%form.form-inline{:role => "form", :method => 'get'}
					%input#query.form-control.input-lg{:name => 'query', :placeholder => "What are you looking for?", :value => params[:query], 'data-intro' => "Enter words here to find articles containing those words", 'data-position' => "right"}
					%button.btn.btn-default.input-lg{:type => "submit"} Search full text
					.tools
						%input#mode1{:type => "radio", :name => "mode", :value => "all", :checked => "checked"}
						%label <strong>All</strong> of these words
						%input#mode2{:type => "radio", :name => "mode", :value => "any"}
						%label <strong>Any</strong> of these words
						%input#mode3{:type => "radio", :name => "mode", :value => "exact"}
						%label This <strong>exact phrase</strong>
					.tools
						%label
							= check_box_tag :article, "articles", true
							Articles
						%label
							= check_box_tag :article, "adverts", true
							Advertisements 
							%em often includes births, deaths, and marriages
						%label
							= check_box_tag :article, "captions", true
							Illustration and captions


				= render :partial => "#{@type}/home_cols"
				
			= render :partial => "shared/search_controls"

			- if not @search_results.nil?

				= render :partial => "#{@type}/search_results"

			- elsif not @title_results.nil?

				= render :partial => "#{@type}/title_results"

			- else

				= render :partial => "#{@type}/front_page"





