.format-home
	.row
		.col-md-3.sidebar.facets

			- @facets.each do |facet|

				%a.facet{ href: "##{facet[:name]}-picker", id: "facet-#{facet[:name]}", 'data-intro' => facet[:help_text], 'data-position' => 'right'}
					%small= facet[:choose_text]
					%span.facet-label= facet[:default_value]
					%span.facet-arrow 
						%span Change

			.well
				%p= raw(@format_class.description)

				%h4= link_to "About the #{@type} »", "/#{@type}/title"

				%h4= link_to "About Papers Past »", "/about"

		.col-md-9

			= render :partial => "shared/search_box"				
			= render :partial => "shared/search_controls"

			- if not @search_results.nil?

				= render :partial => "#{@type}/search_results"

				%ul.pagination
					%li
						%a{href: "#"}
							%span.glyphicon.glyphicon-backward
					%li.active
						%a{href: "#"} 1
					- 8.times do |n|
						%li
							%a{href: "#"}= n + 2
					%li
						%a{href: "#"}
							%span.glyphicon.glyphicon-forward

			- elsif not @title_results.nil?

				= render :partial => "#{@type}/title_results"

			- else

				= render :partial => "#{@type}/front_page"





