.format-home
	.row
		.col-md-3.sidebar.facets

			- @facets.each do |facet|

				.facet{ id: "facet-#{facet['name']}" }
					%a{ href: "##{facet['name']}-picker", 'data-intro' => facet['help_text'], 'data-position' => 'right'}
						%small
							Choose
							= facet['choose_text']
						%span.facet-label= facet['default_value']
						%span.facet-arrow 
							%span Change
					.facet-reset
						%span.glyphicon.glyphicon-remove
						%span.reset-label Clear

			.well
				%p= raw(@format_class.description)

				%h4= link_to "About the #{@type} »", "/#{@type}/title"

				%h4= link_to "Latest additions »", "/about"

		.col-md-9

			= render :partial => "shared/search_box"				
			= render :partial => "shared/search_controls"


			- if not @search_results.nil?
	
				- if @search_results[:search_results].size > 0

					%p= "There are #{number_with_delimiter(@search_results[:num_results])} matches for your query"
					= render :partial => "#{@type}/search_results"

				- else

					%h2 No results

					%p= "There are no results in #{@type} for your query '#{params[:query]}'."

					- if params.size > 2

						%p= link_to "Try a broader search for '#{params[:query]}' with fewer filters.", :query => params[:query]

				- if @search_results[:num_results] > @search_results[:last_match_num]

					%ul.pagination
						%li
							%a{href: "#"}
								%span.glyphicon.glyphicon-backward
						%li.active
							%a{href: "#"} 1
						- 8.times do |n|
							%li
								%a{href: "#"}= n + 2
						%li
							%a{href: "#"}
								%span.glyphicon.glyphicon-forward


			- elsif not @title_results.nil?

				= render :partial => "#{@type}/title_results"

			- else

				= render :partial => "#{@type}/front_page"





