.results 
	%h1=raw "Searching #{@type.to_s.humanize.downcase} for <span>#{params[:query]}</span>"

	%p.results-info=raw "There are #{number_with_delimiter(@search_results['search']['result_count'])} items matching <span>#{params[:query]}</span>. Here are the first #{@search_results['search']['per_page']}."

	%table.table
		%thead
			%tr
				%th Date
				%th Article
				%th Newspaper
		%tbody
			- @search_results['search']['results'].each do |result|
				- parts = result['title'].gsub(/^(.*)\(([^(]+),(.*)\)/, '\1**\2**\3').split("**")
				%tr
					%td= parts[2]
					%td
						%a{:href => "/#{@type}/#{result['id']}"}= parts[0]
					%td= parts[1]
