.results 

	%form.form-inline{:role => "form", :action => "/#{@type}/search", :method => 'get'}
		.row
			.col-md-12
				%ul.nav.nav-pills{ role: "tablist" }
					- FORMAT_LABELS.each do |fmt, label| 
						%li{ :class => (fmt == @type) ? 'active' : 'not_active' }= link_to label, params["query"].blank? ? "/#{fmt}" : "/#{fmt}/search?query=#{params["query"]}"
		.row
			.col-md-9
				%input#query.form-control.input-lg{:name => 'query', :placeholder => "What are you looking for?", :value => params[:query] }
				/ .tools
				/ 	%input#mode1{:type => "radio", :name => "mode", :value => "all", :checked => "checked"}
				/ 	%label <strong>All</strong> of these words
				/ 	%input#mode2{:type => "radio", :name => "mode", :value => "any"}
				/ 	%label <strong>Any</strong> of these words
				/ 	%input#mode3{:type => "radio", :name => "mode", :value => "exact"}
				/ 	%label This exact phrase
				/ 	.pull-right
				/ 		%a{:href => '#'} More search options
			.col-md-3
				%button.btn.btn-info.input-lg.form-control{:type => "submit"} Search

	= render :partial => "shared/search_controls"

	= render :partial => "#{@type}/search_results"