%ol.breadcrumb
	%li= link_to 'Newspapers', "/newspapers"
	%li= link_to @item[:newspaper], "/newspapers/title/#{@item[:newspaper].parameterize}"
	%li= link_to @item[:date_year], "/newspapers/title/#{@item[:newspaper].parameterize}/#{@item[:date_year]}"
	%li= link_to @item[:date_month], "/newspapers/title/#{@item[:newspaper].parameterize}/#{@item[:date_year]}/#{@item[:date_month]}"
	%li= link_to @item[:date_day].to_i, "/newspapers/title/#{@item[:newspaper].parameterize}/#{@item[:date_year]}/#{@item[:date_month]}/#{@item[:date_day]}"
	%li= link_to "Page #{@item[:page_number]}", "/newspapers/title/#{@item[:newspaper].parameterize}/#{@item[:date_year]}/#{@item[:date_month]}/#{@item[:date_day]}/#{@item[:page_number]}"
	%li.active= @item[:title]

.item 
	%h1= @item[:title]
	%p= "#{@item[:newspaper]}, #{@item[:date]}"

	%ul.nav.nav-tabs
		%li.active= link_to "View article image", "#images", 'data-toggle' => "tab"
		%li= link_to "Read full text", "#fulltext", 'data-toggle' => "tab"
		%li= link_to "Additional information", "#info", 'data-toggle' => "tab"

	.tab-content
		#images.tab-pane.fade.in.active
			.row
				.col-md-12
					.image-pad
						- @item[:images].each do |image|
							=raw image
		#fulltext.tab-pane.fade
			.row
				.col-md-6
					=raw @item[:fulltext]
		#info.tab-pane.fade
			.row
				.col-md-12
					%p
						%a{:href => @item[:original]} See original record




