- if request.referrer.to_s.include? "#{@type}?"
	.back-search-link= link_to '« Back to search results', request.referrer


%h2
	= render :partial => 'shared/breadcrumbs'
%h1
	= @item[:title]

.item
	.row
		.col-md-9

			%nav.navbar.navbar-default.navbar-subnav
				%ul.nav.navbar-nav
					%li.active
						%a{href: "#images", 'data-toggle' => "tab"}
							%span.glyphicon.glyphicon-th
							Image

					%li
						%a{href: "#fulltext", 'data-toggle' => "tab"}
							%span.glyphicon.glyphicon-list-alt
							Text
					%li.dropdown
						%a.dropdown-toggle{href: "#", 'data-toggle' => "dropdown"}
							%span.glyphicon.glyphicon-file
							Save a copy as...
							%span.caret
						%ul.dropdown-menu{role: "menu"}
							%li= link_to 'PDF', '#'
							%li= link_to 'Plain text'
							%li= link_to 'High quality image (PNG)'
					%li
						%a{href: "#researchtools", 'data-toggle' => "tab"}
							%span.glyphicon.glyphicon-cog
							Researcher tools

			.tab-content
				#images.tab-pane.fade.in.active
					.row
						.col-md-12
							.image-pad
								- @item[:images].each do |image|
									= image_tag image

							.well
								%small 
									This article has been automatically clipped from the 
									= "#{@item[:collection]}," 
									organised into a single column, then optimised for display on your computer screen. As a result, it may not look exactly as it did on the original page. The article can be seen in its original form in the 
									= link_to 'full page view.', '#'

				#fulltext.tab-pane.fade
					.row
						.col-md-6.col-md-offset-3
							=raw @item[:fulltext]

				#researchtools.tab-pane.fade
					.row
						.col-md-8.col-md-offset-2

							%h3 Permanent link to this item:

							= link_to "http://paperspast.natlib.govt.nz/item/#{params[:id]}", "http://paperspast.natlib.govt.nz/item/#{params[:id]}"

							%h3 Identifiers

							%table.table
								%thead
									%tr
										%th Authority
										%th Identifier
								%tbody
									%tr
										%td UUID
										%td 123e4567-e89b-12d3-a456-426655440000
									%tr
										%td DigitalNZ
										%td= link_to params[:id], "http://digitalnz.org/records/#{params[:id]}"

							%h3 Download fulltext metadata

							%ul
								%li= link_to 'JSON-LD', '#'
								%li= link_to 'XML', '#'
								%li= link_to 'METS/ALTO', '#'


							%h3 Cite this item

							%ul.nav.nav-tabs
								%li.active
									%a{href: "#citation-apa", 'data-toggle' => "tab"} APA
								%li 
									%a{href: "#citation-apa", 'data-toggle' => "tab"} CSE
								%li 
									%a{href: "#citation-apa", 'data-toggle' => "tab"} Chicago
								%li 
									%a{href: "#citation-apa", 'data-toggle' => "tab"} MLA
								%li 
									%a{href: "#citation-apa", 'data-toggle' => "tab"} Turabian

							#citation-apa.tab-pane.fade.in.active
								= "#{@item[:title]} (#{@item[:date]}). #{@item[:collection]}. Retrieved from http://paperspast.natlib.govt.nz on #{Time.now.strftime('%B %-d, %Y')}."



		.col-md-3.sidebar
			
			= render :partial => 'shared/copyright_template'

			%h4 Share this item

			.addthis_sharing_toolbox

			%h4= "About this #{@type.to_s.singularize}" 

			%p Newspaper was estab. Newspaper was estab. Newspaper was estab. Newspaper was estab. Newspaper was estab. Newspaper was estab. Newspaper was estab. Newspaper was estab. Newspaper was estab. 

			%p= link_to "Read more", "/#{@type}/title/#{@item[:collection].parameterize}"


			%p= link_to '…', @item[:original]

