.advanced-search-options

	%h3.narrow Only show matches from...

	.row
		.col-md-4

			.search-option-panel
				%h4 
					Article types
				.search-option-panel-content
					.title
						= check_box_tag :article, "articles", true
						Articles
					.title
						= check_box_tag :article, "adverts", true
						Advertisements (often includes births, deaths, and marriages)
					.title
						= check_box_tag :article, "captions", true
						Illustration and captions

			#search-options-dates.search-option-panel
				%h4 
					Dates
				.search-option-panel-content
					.slider-range
					.slider-caption
						From 
						%input#year-start{ :type => 'text', :value => 1830, :size => 5 }
						to
						%input#year-end{ :type => 'text', :value => 1945, :size => 5 }
						%em.date-precise
							or,
							= link_to 'choose a more precise date range', '#'

		.col-md-8
			.search-option-panel
				
				%h4 
					Titles
					%small.title-note showing only titles matching your selected date range.

				.search-option-panel-content
					.search-cats-col
						.region-group
							.title.region-title
								= check_box_tag :title, "all", true, :class => 'title-select-all'
								ALL TITLES
						- @regions.each do |region|
							.region-group
								.title.region-title
									= check_box_tag "region_#{region.parameterize}", region, true, :class => 'region-select'
									= "#{region} newspapers"
								- NewspaperTitle.info.each do |symbol, title|
									- if title[:region] == region
										.title
											= check_box_tag "title_#{symbol}", 1, true, 'data-region' => title[:region], 'data-yearstart' => title[:start_year], 'data-yearend' => title[:end_year], :class => 'title-select'
											= title[:title]	