.advanced-search-options

	%h3.narrow Only show matches from...

	.row
		.col-md-4

			#search-options-dates.search-option-panel
				= render :partial => 'shared/date_picker'

			.search-option-panel
				%h4 
					Article types
				.search-option-panel-content
					.title
						= check_box_tag :article, "articles", true
						Articles
					.title
						= check_box_tag :article, "adverts", true
						Advertisements (often includes births, deaths, and marriages)
					.title
						= check_box_tag :article, "captions", true
						Illustration and captions

			.search-option-panel
				%h4 
					Collections
				.search-option-panel-content
					.title
						= check_box_tag :collex, "c1", true
						Maori Newspapers
					.title
						= check_box_tag :collex, "c2", true
						Early Newspapers
					.title
						= check_box_tag :collex, "c2", true
						World War I



		.col-md-8
			.search-option-panel
				= render :partial => 'newspapers/region_picker'
				
