.advanced-search-options

	%h3.narrow Only show matches from...

	.row
		.col-md-4

			#search-options-dates.search-option-panel
				= render :partial => 'shared/date_picker'

			.search-option-panel
				%h4 
					Article types
				.search-option-panel-content
					.title
						= check_box_tag :article, "articles", true
						Articles
					.title
						= check_box_tag :article, "adverts", true
						Advertisements (often includes births, deaths, and marriages)
					.title
						= check_box_tag :article, "captions", true
						Illustration and captions


		.col-md-8
			.search-option-panel
				
				%h4 
					Titles
					%small.title-note showing only titles matching your selected date range.

				.search-option-panel-content
					= hidden_field_tag 'selected_titles', 'ALL'
					.search-cats-col
						.region-group
							.title.region-title
								%label
									= check_box_tag :title, "all", true, :class => 'title-select-all'
									ALL TITLES
						- @regions.each do |region|
							.region-group
								.title.region-title
									%label
										= check_box_tag "region_#{region.parameterize}", region, true, :class => 'region-select'
										= "#{region} newspapers"
								- NewspaperTitle.info.each do |symbol, title|
									- if title[:region] == region
										%label.title{'data-region' => title[:region], 'data-yearstart' => title[:start_year], 'data-yearend' => title[:end_year]}
											= check_box_tag "title_#{symbol}", symbol, true, :class => 'title-select'
											= title[:title]	