.search-box

	#date-range-picker.tools.facet-tools.closeable
		= render :partial => 'shared/close_widget'
		= render :partial => 'shared/date_picker'
	#title-region-picker.tools.facet-tools.closeable
		= render :partial => 'shared/close_widget'
		= render :partial => 'newspapers/region_picker'
	#article-types-picker.tools.facet-tools.closeable
		= render :partial => 'shared/close_widget'
		%h2 Article types t/k


