%h4 
	What titles and regions would you like to search?
	%small.title-note showing only titles matching your selected date range.

.search-option-panel-content
	= hidden_field_tag 'selected_titles', 'ALL'
	.search-cats-col
		.region-group.region-group-all
			.title.region-title
				%label
					= check_box_tag :title, "all", true, :class => 'title-select-all'
					ALL TITLES
		- @regions.each do |region|
			.region-group
				.title.region-title
					%label
						= check_box_tag "region_#{region.parameterize}", region, true, :class => 'region-select'
						= "#{region} newspapers"
				- NewspaperTitle.info.each do |symbol, title|
					- if title[:region] == region
						%label.title.newspaper-title{'data-region' => title[:region], 'data-yearstart' => title[:start_year], 'data-yearend' => title[:end_year]}
							= check_box_tag "title_#{symbol}", symbol, true, :class => 'title-select'
							= title[:title]	