%h1= render :partial => 'shared/breadcrumbs'

.row

	.col-md-9

		%nav.navbar.navbar-default.navbar-subnav
			%ul.nav.navbar-nav
				%li.active
					%a{href: "#thumbnails", 'data-toggle' => "tab"}
						%span.glyphicon.glyphicon-th
						Images

				%li
					%a{href: "#contents", 'data-toggle' => "tab"}
						%span.glyphicon.glyphicon-list-alt
						Contents

				%li.dropdown
					%a.dropdown-toggle{href: "#", 'data-toggle' => "dropdown"}
						%span.glyphicon.glyphicon-file
						Save a copy as...
						%span.caret
					%ul.dropdown-menu{role: "menu"}
						%li= link_to 'PDF', '#'
			%ul.nav.navbar-nav.navbar-right
				- if not @item[:prev_document_id].nil?
					%li
						%a{href: veridian_id_to_route(@item[:prev_document_id])}
							%span.glyphicon.glyphicon-arrow-left
							Previous issue
				- if not @item[:next_document_id].nil?
					%li
						%a{href: veridian_id_to_route(@item[:next_document_id])}
							Next issue
							%span.glyphicon.glyphicon-arrow-right

		.thumbnail-pages

			.tab-content

				#thumbnails.tab-pane.fade.in.active
					- if @issue.nil?

						%h2 No newspaper on this date.

						%p Either there was no newspaper published on this date, or we haven't scanned it yet. 

						%p Learn more...

					- else
						- @issue[:pages].each_with_index do |page, i|
							.thumbnail-page
								.thumbnail-page-image
									= link_to image_tag(Newspaper.page_image_url(@issue[:date], @issue[:publication_id], i+1, 3)), veridian_id_to_route(page[:id])
								%p= link_to page[:title], veridian_id_to_route(page[:id])

				#contents.tab-pane.fade

					%h2 Contents of this issue

					- @issue[:logical_sections]group_by(:page_id).each do |page, sections|
						%h4= link_to veridian_id_to_page_number(ls[:page_id]), veridian_id_to_route(ls[:page_id])
						%ul
							- sections.each do |ls|
								%li= link_to ls[:title], veridian_id_to_route(ls[:id])

	.col-md-3.sidebar

		%h4 About this newspaper

		%p= @item[:short_desc]

		%p= link_to "Read more", "/newspapers/title/#{@item[:title].parameterize}"



