%h1= render :partial => 'shared/breadcrumbs'


%nav.navbar.navbar-default.navbar-subnav
	%ul.nav.navbar-nav
		%li.active
			%a{href: "#page-image", 'data-toggle' => "tab"}
				%span.glyphicon.glyphicon-th
				Image

		%li
			%a{href: "#contents", 'data-toggle' => "tab"}
				%span.glyphicon.glyphicon-list-alt
				Contents
		%li.dropdown
			%a.dropdown-toggle{href: "#", 'data-toggle' => "dropdown"}
				%span.glyphicon.glyphicon-file
				Save a copy as...
				%span.caret
			%ul.dropdown-menu{role: "menu"}
				%li= link_to 'PDF', '#'
	%ul.nav.navbar-nav.navbar-right
		- if @page > 1
			%li
				%a{href: "/newspapers/title/#{@item[:title].parameterize}/#{@today.year}/#{@today.month}/#{@today.day}/#{@page - 1}"}
					%span.glyphicon.glyphicon-arrow-left
					Previous page
		- if @page < @num_pages
			%li
				%a{href: "/newspapers/title/#{@item[:title].parameterize}/#{@today.year}/#{@today.month}/#{@today.day}/#{@page + 1}"}
					Next page
					%span.glyphicon.glyphicon-arrow-right

.newspaper-pages

	.tab-content

		#page-image.tab-pane.fade.in.active
			.page-image-detail.page-image-detail-compressed
				= image_tag("http://paperspast.natlib.govt.nz/cgi-bin/imageserver/imageserver.pl?oid=#{NewspaperTitle.code(@item[:title].parameterize)}#{@today.strftime('%Y%m%d')}.1.#{@page}&scale=30&color=32&ext=gif&key=")
				- Newspaper.areas(NewspaperTitle.code(@item[:title].parameterize) + @today.strftime('%Y%m%d') + ".1.#{@page}").each do |area|
					= link_to ' ', area[:href], :style => area[:style]
				.page-expander
					%a.actual{href: '#'}
						%span.glyphicon.glyphicon-fullscreen
						Enlarge
					%a.fit{href: '#'}
						%span.glyphicon.glyphicon-resize-small
						Fit in window


		#contents.tab-pane.fade

			%h2 Contents of this page

			- Newspaper.outline(NewspaperTitle.code(@item[:title].parameterize) + @today.strftime('%Y%m%d'), @page).each do |page, items|
				%h4= page
				%ul
					- items.each do |item|
						%li= link_to item[:label], item[:href]

