%h1
	- unless @title.nil?
		%span= link_to @title[:title], "/newspapers/title/#{@title[:title].parameterize}"
	%small
		- unless params[:year].nil?
			»
			%span= link_to params[:year], "/newspapers/title/#{@title[:title].parameterize}/#{params[:year]}"
		- unless params[:month].nil?
			»
			%span= link_to @today.strftime('%B'), "/newspapers/title/#{@title[:title].parameterize}/#{params[:year]}/#{params[:month]}"
		- unless params[:day].nil?
			%span= link_to params[:day], "/newspapers/title/#{@title[:title].parameterize}/#{params[:year]}/#{params[:month]}/#{params[:day]}"
		- unless params[:page].nil?

			%span= " » Page #{params[:page]}"

.row
	.col-md-3.page-info
		- if @page.nil?

			%ul.pager
				- tomorrow = @today + 1.day
				- yesterday = @today - 1.day
				%li.previous= link_to '← Previous issue', "/newspapers/title/#{@title[:title].parameterize}/#{yesterday.year}/#{yesterday.month}/#{yesterday.day}"
				%li.next= link_to 'Next issue →', "/newspapers/title/#{@title[:title].parameterize}/#{tomorrow.year}/#{tomorrow.month}/#{tomorrow.day}"

		- else 

			%ul.pager
				- if @page > 1
					%li.previous= link_to '← Previous page', "/newspapers/title/#{@title[:title].parameterize}/#{@today.year}/#{@today.month}/#{@today.day}/#{@page - 1}"
				- if @page < @num_pages
					%li.next= link_to 'Next page →', "/newspapers/title/#{@title[:title].parameterize}/#{@today.year}/#{@today.month}/#{@today.day}/#{@page + 1}"

		%h4 Would you like a copy?

		= link_to 'Download PDF', '#', class: 'btn btn-default btn-block'

		%h4 About this newspaper

		%p= @title[:short_desc]

		%p= link_to "Read more", "/newspapers/title/#{@title[:title].parameterize}"


	.col-md-9

		.newspaper-pages

			%ul.nav.nav-tabs
				%li.active= link_to "Page thumbnails", "#thumbnails", 'data-toggle' => "tab"
				%li= link_to "Page contents outline", "#contents", 'data-toggle' => "tab"

			.tab-content

				#thumbnails.tab-pane.fade.in.active
					- if @page.nil?
						- if @num_pages > 0
							- (1..@num_pages).each do |pn|
								.newspaper-page
									.newspaper-page-image
										= link_to image_tag(Newspaper.page_image_url(@today, @code, pn, 3)), "/newspapers/title/#{@title[:title].parameterize}/#{@year}/#{@month}/#{@day}/#{pn}"
									%p= link_to "Page #{pn}", "/newspapers/title/#{@title[:title].parameterize}/#{@year}/#{@month}/#{@day}/#{pn}"
						- else

							%h2 No newspaper on this date.

							%p Either there was no newspaper published on this date, or we haven't scanned it yet. 

							%p Learn more...
					- else 
						.page-image-detail
							= image_tag("http://paperspast.natlib.govt.nz/cgi-bin/imageserver/imageserver.pl?oid=#{NewspaperTitle.code(@title[:title].parameterize)}#{@today.strftime('%Y%m%d')}.1.#{@page}&scale=30&color=32&ext=gif&key=")
							- Newspaper.areas(NewspaperTitle.code(@title[:title].parameterize) + @today.strftime('%Y%m%d') + ".1.#{@page}").each do |area|
								= link_to ' ', area[:href], :style => area[:style]


				#contents.tab-pane.fade

					- Newspaper.outline(NewspaperTitle.code(@title[:title].parameterize) + @today.strftime('%Y%m%d'), @page).each do |page, items|
						%h4= page
						%ul
							- items.each do |item|
								%li= link_to item[:label], item[:href]



