.title-browser 
	- if @item.nil?

		%h1 All newspaper titles

		%table.table.datatable
			%thead
				%tr
					%th Masthead
					%th Title
					%th Region
					%th First year
					%th Last year
			%tbody
				- Publication.info.each do |code, title| 
					%tr
						%td= link_to image_tag(title[:logo], :class => 'newspaper-logo'), "/newspapers/title/#{title[:title].parameterize}"
						%td= link_to title[:title], "/newspapers/title/#{title[:title].parameterize}"
						%td= link_to title[:region], "/newspapers/region/#{title[:region].parameterize}"
						%td= title[:start_year]
						%td= title[:end_year]




	- else

		%h4
			«
			= link_to "All newspaper titles", '/newspapers/title'

		%h1
			= @item[:title]
			%small
				= "#{@item[:region]}, #{@item[:start_year]}-#{@item[:end_year]}"

		.row
			.col-md-6

				.well.well-masthead= link_to image_tag(@item[:logo], :class => 'masthead')

				%h3= "History"

				=raw @item[:essay]

				%h3 More information

				%table.table
					%tbody
						%tr
							%td Region
							%td= @item[:region]
						/ %tr
						/ 	%td Also published as
						/ 	%td Hawke’s Bay Herald and Ahuriri Advocate, Hawke's Bay Tribune, Hawke's Bay Herald-Tribune
						%tr
							%td Available online
							%td= "#{@item[:start_year]}-#{@item[:end_year]}"
				
				%h3 Copyright statement

				= render :partial => 'shared/copyright_template'

			.col-md-6.title-search-tools

				%h3
					Search within
					= @item[:title]

				= render :partial => 'shared/search_box'

				%h3 Available dates

				%h2
					%a{ :href => {:year => @year - 1}}
						%span.glyphicon.glyphicon-backward
					= @year
					%a{ :href => {:year => @year + 1}}
						%span.glyphicon.glyphicon-forward

				- ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'].each_with_index do |month, m|
					= render :partial => 'shared/calendar', :locals => { :month => month, :m => m, :dates_list => @dates, :current_year => @year }



