%ol.breadcrumb
	%li= link_to 'Newspapers', "/newspapers"
	- if @title.nil?
		%li All
	- else 
		%li= link_to "All", "/newspapers/title"
		%li= link_to @title[:title], "/newspapers/title/#{@title[:title].parameterize}"
	- if @year > 0
		%li= link_to @year, "/newspapers/title/#{@title[:title].parameterize}/#{@year}"
	- if @month > 0
		%li= link_to @month, "/newspapers/title/#{@title[:title].parameterize}/#{@year}/#{@month}"
	- if @day > 0
		%li= link_to @day, "/newspapers/title/#{@title[:title].parameterize}/#{@year}/#{@month}/#{@day}"

.newspaper_title 
	- if @title.nil?

		%h1 All newspaper titles

		%table.table
			%thead
				%tr
					%th Masthead
					%th Title
					%th Region
					%th Years
			%tbody
				- NewspaperTitle.info.each do |code, title| 
					%tr
						%td= link_to image_tag(title[:logo], :class => 'newspaper-logo'), "/newspapers/title/#{title[:title].parameterize}"
						%td= link_to title[:title], "/newspapers/title/#{title[:title].parameterize}"
						%td= link_to title[:region], "/newspapers/region/#{title[:region].parameterize}"
						%td= "#{title[:start_year]}-#{title[:end_year]}"




	- else
		%h1
			= @title[:title]
			%small= "#{@title[:region]}, #{@title[:start_year]}-#{@title[:end_year]}"

		.row
			.col-md-6

				%h2 Browse issues

				- if @year > 0
					= link_to "Show all years", "/newspapers/title/#{@title[:title].parameterize}"

				- (@title[:start_year]..@title[:end_year]).each do |yr|
					- if params[:year] == yr or params[:year].nil?
						%h3= link_to yr, "/newspapers/title/#{@title[:title].parameterize}/#{yr}"
						%ul.nav.nav-pills.date-twisty
							- ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'Septmeber', 'October', 'November', 'December'].each_with_index do |month, i|
								%li{ :class => (@month == i + 1) ? 'active' : 'inactive'}= link_to month, "/newspapers/title/#{@title[:title].parameterize}/#{yr}/#{i + 1}"
						- if @month > 0
							%table.table
								%thead
									%tr
										%th S
										%th M
										%th T
										%th W
										%th T
										%th F
										%th S
								%tbody
									- 5.times do |w|
										%tr 
											- 7.times do |d|
												- daydate = (w*7) + d + 1
												%td
													= link_to daydate,  "/newspapers/title/#{@title[:title].parameterize}/#{@year}/#{@month}/#{daydate}" if daydate < 32

			.col-md-6

				= link_to image_tag(@title[:logo], :class => 'masthead')

				%h3= "History"

				=raw @title[:essay]

				%h3 More information

				%table.table
					%tbody
						%tr
							%td Region
							%td= @title[:region]
						/ %tr
						/ 	%td Also published as
						/ 	%td Hawke’s Bay Herald and Ahuriri Advocate, Hawke's Bay Tribune, Hawke's Bay Herald-Tribune
						%tr
							%td Available online
							%td= "#{@title[:start_year]}-#{@title[:end_year]}"
				
				%h3 Copyright statement

				%p See our copyright guide for information on how you may use this title.
