.newspaper_title 
	- if @item.nil?

		%h1 All newspaper titles

		%table.table.datatable
			%thead
				%tr
					%th Masthead
					%th Title
					%th Region
					%th First year
					%th Last year
			%tbody
				- NewspaperTitle.info.each do |code, title| 
					%tr
						%td= link_to image_tag(title[:logo], :class => 'newspaper-logo'), "/newspapers/title/#{title[:title].parameterize}"
						%td= link_to title[:title], "/newspapers/title/#{title[:title].parameterize}"
						%td= link_to title[:region], "/newspapers/region/#{title[:region].parameterize}"
						%td= title[:start_year]
						%td= title[:end_year]




	- else
		%h1
			= @item[:title]
			%small
				= link_to "#{@item[:region]},", "/newspapers/region/#{@item[:region].parameterize}"
				= " #{@item[:start_year]}-#{@item[:end_year]}"

		.row
			.col-md-6

				.well= link_to image_tag(@item[:logo], :class => 'masthead')

				%h3= "History"

				=raw @item[:essay]

				%h3 More information

				%table.table
					%tbody
						%tr
							%td Region
							%td= @item[:region]
						/ %tr
						/ 	%td Also published as
						/ 	%td Hawke’s Bay Herald and Ahuriri Advocate, Hawke's Bay Tribune, Hawke's Bay Herald-Tribune
						%tr
							%td Available online
							%td= "#{@item[:start_year]}-#{@item[:end_year]}"
				
				%h3 Copyright statement

				= render :partial => 'shared/copyright_template'

			.col-md-6

				%h3
					Search within


				%form.form{:role => "form", :action => "/#{@type}/search", :method => 'get'}
					%input#query.form-control.input-lg{:name => 'query', :placeholder => "What are you looking for?"}
					.pull-right
						%a{:href => "javascript:$('.advanced-search-options').slideToggle();"} More search options

				%h3 Browse issues

				- if @year > 0
					%p= link_to "Show earlier years", "/newspapers/title/#{@item[:title].parameterize}"

				%table.table
					%tbody
						- (@item[:start_year]..@item[:end_year]).each do |yr|
							%tr
								%td
									%strong= link_to yr, "/newspapers/title/#{@item[:title].parameterize}/#{yr}"
								- ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'].each_with_index do |month, i|
									%td= link_to month, "/newspapers/title/#{@item[:title].parameterize}/#{yr}/#{i + 1}"

