%ol.breadcrumb
	%li= link_to 'Newspapers', "/newspapers"
	- if @title.nil?
		%li All
	- else 
		%li= link_to "All", "/newspapers/title"
		%li= link_to @title[:title], "/newspapers/title/#{@title[:title].parameterize}"
	- unless params[:year].nil?
		%li= link_to params[:year], "/newspapers/title/#{@title[:title].parameterize}/#{params[:year]}"

.newspaper_title 
	- if @title.nil?

		%h1 All newspaper titles

		%table.table
			%thead
				%tr
					%th Masthead
					%th Title
					%th Region
					%th Years
			%tbody
				- NewspaperTitle.info.each do |code, title| 
					%tr
						%td= link_to image_tag(title[:logo], :class => 'newspaper-logo'), "/newspapers/title/#{title[:title].parameterize}"
						%td= link_to title[:title], "/newspapers/title/#{title[:title].parameterize}"
						%td= link_to title[:region], "/newspapers/region/#{title[:region].parameterize}"
						%td= "#{title[:start_year]}-#{title[:end_year]}"




	- else
		%h1
			= @title[:title]
			%small= @title[:region]

		.row
			.col-md-6

				%h2 Browse issues 

				- (@title[:start_year]..@title[:end_year]).each do |yr|
					%h3= link_to yr, "/newspapers/title/#{@title[:title].parameterize}/#{yr}"
					%ul.nav.nav-pills
						%li= link_to 'Jan', '#'
						%li= link_to 'Feb', '#'
						%li= link_to 'Mar', '#'
						%li= link_to 'Apr', '#'
						%li= link_to 'May', '#'
						%li= link_to 'Jun', '#'
						%li= link_to 'Jul', '#'
						%li= link_to 'Aug', '#'
						%li= link_to 'Sep', '#'
						%li= link_to 'Oct', '#'
						%li= link_to 'Nov', '#'
						%li= link_to 'Dec', '#'

			.col-md-6

				= link_to image_tag(@title[:logo], :class => 'masthead')

				%h3= "History"

				=raw @title[:essay]

				%h3 More information

				%table.table
					%tbody
						%tr
							%td Region
							%td= @title[:region]
						/ %tr
						/ 	%td Also published as
						/ 	%td Hawke’s Bay Herald and Ahuriri Advocate, Hawke's Bay Tribune, Hawke's Bay Herald-Tribune
						%tr
							%td Available online
							%td= "#{@title[:start_year]}-#{@title[:end_year]}"
				
				%h3 Copyright statement

				%p See our copyright guide for information on how you may use this title.
