.home
	.row
		- FORMAT_LABELS.each do |format, label|
			.col-md-3
				.media
					%a{:href => "/#{format}"}
						.media-object
							%img{ :src => "/assets/home-#{format.to_s.dasherize}.jpg"}
					.media-body
						%h2.media-heading
							%a{:href => "/#{format}"}= t("format-#{format}")

	.row
		.col-md-6

			%h3 Millions of pages of historical documents, available instantly and for free!
			%p <strong>Papers Past</strong> contains more than three million pages of digitised New Zealand newspapers and periodicals. The collection covers the years 1839 to 1945 and includes 83 publications from all regions of New Zealand.

			.row 
				.col-md-6
					%h4= link_to "Learn more about Papers Past »", '/about', class: 'btn btn-primary col-md-12'
				.col-md-6
					%h4= link_to "Take the tutorial »", '/help', class: 'btn btn-primary col-md-12'

		.col-md-6

			.well
				%h3 What's new this month?
				%p In September 2013 we added:
				%ul 
					%li King Country Chronicle (1906-1920)
					%li Mount Ida Chronicle (1869-1926)
					%li Oamaru Mail (1876-1920)
					%li Timaru Herald (1901-1920)
				%h4
					= link_to "Learn more »", '/about'

			.well
				%h3 About our new look
				%p We're making the Papers Past experience you already know and love better, with heaps of new materials, easier-to-use controls, and support for your smartphone or tablet. 
				%h4
					= link_to "Learn more »", '/about#new_site'
