.home
	.row
		.col-md-12
			%h1 
				Papers Past
				%small Explore the full text of New Zealand's history.
	.row
		.col-md-6
			- FORMAT_LABELS.each do |format, label|
				.media
					%a.pull-left{:href => "/#{format}"}
						%img.media-object{ :src => "/assets/icon-home-#{format.to_s.dasherize}.jpg"}
					.media-body
						%h2.media-heading
							%a{:href => "/#{format}"}= label
						%p 83 #{label} titles. 490,856 newspaper issues. 3,108,938 pages. 39,066,113 articles.
		.col-md-6
			.alert.alert-success
				%h3 About our new look
				%p We're making the Papers Past experience you already know and love better, with heaps of new materials, easier-to-use controls, and support for your smartphone or tablet. 
				%h4
					= link_to "Learn more...", '/about#new_site'
			.well
				%p <strong>Papers Past</strong> contains more than three million pages of digitised New Zealand newspapers and periodicals. The collection covers the years 1839 to 1945 and includes 83 publications from all regions of New Zealand.
				%p There are two main ways to find information in Papers Past: searching and browsing. Searching lets you enter a query term and retrieves articles that contain that term. Browsing lets you look at all the newspapers, starting with a year, a region, or a newspaper title. All the newspaper titles on the site can be searched and browsed.
				%p The newspapers on Papers Past are only a small proportion of New Zealand newspapers. If you cannot find what you are looking for online, it may be available as a paper copy or microfilm. Check the National Newspaper Collection page on the National Library website for more information.

