%table.table
	%thead
		%tr
			%th Date
			%th Publication
			%th Title
	%tbody
		- @search_results['search']['results'].each do |result|
			%tr
				%td
					%a{:href => "/#{@type}/#{result['id']}"}
						= Date.parse(result['date'].to_a[0]).strftime("%e %B, %Y")
				%td
					%a{:href => "/#{@type}/#{result['id']}"}
						= result['collection'].first
				%td
					%a{:href => "/#{@type}/#{result['id']}"}= result['title']
