.advanced-search-options

	%h3.narrow Only show matches from...

	.row
		.col-md-4

			#search-options-dates.search-option-panel
				= render :partial => 'shared/date_picker'

			.search-option-panel
				%h4 
					Collections
				.search-option-panel-content
					%ul
						- 5.times do 
							%li
								= check_box_tag :article, "articles", true
								McLean Papers

			.search-option-panel
				
				%h4 
					Topics

				.search-option-panel-content
					%ul
						- 5.times do 
							%li
								= check_box_tag :article, "articles", true
								Sample
					= link_to "More...", '#'

		.col-md-4

			.search-option-panel
				%h4 
					Places
				.search-option-panel-content
					%ul
						- @regions.each do |region| 
							%li
								= check_box_tag :article, "places", true
								= region
					= link_to "More...", '#'

		.col-md-4
			.search-option-panel
				%h4 
					People
				.search-option-panel-content
					%ul
						- 12.times do
							%li
								= check_box_tag :subject, "subjects", true
								Sample
					= link_to "More...", '#'
