%nav.navbar.navbar-default.navbar-fixed-top
	.navbar-header
		%button.navbar-toggle{'data-toggle' => "collapse",  'data-target' => ".navbar-collapse"}
			%span.icon-bar
			%span.icon-bar
			%span.icon-bar
		= link_to "Papers Past", root_path, :class => @type.nil? ? 'navbar-brand' : 'navbar-brand active'
	.navbar-collapse.collapse
		%ul.nav.navbar-nav
			- FORMAT_LABELS.each do |fmt, label|
				%li{:class => @type.to_s.tableize.to_sym == fmt ? 'active' : 'inactive' }
					= link_to label, params["query"].blank? ? "/#{fmt}" : "/#{fmt}/search?query=#{params["query"]}"
		%ul.nav.navbar-nav.navbar-right
			%li
				=link_to "About Papers Past", '/about'
			%li
				=link_to "Help", '/help'
