%nav.navbar.navbar-default.navbar-fixed-top.navbar-primary
	.navbar-header
		%button.navbar-toggle{'data-toggle' => "collapse",  'data-target' => ".navbar-collapse"}
			%span.icon-bar
			%span.icon-bar
			%span.icon-bar
		= link_to raw("Papers Past"), root_path, :class => @type.nil? ? 'navbar-brand' : 'navbar-brand active'
	.navbar-collapse.collapse

		- if not @type.nil?
			= link_to t("format-#{@type.to_s.parameterize}"), "/#{@type}", :class => 'navbar-brand active navbar-format'
			
		%ul.nav.navbar-nav{'data-intro' => t('chooser-help'), 'data-position' => "right"}
			%li.dropdown.format-picker
				%a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
					= @type.nil? ? t('nav-switcher-all') : t('nav-switcher-others')
					%span.caret
				%ul.dropdown-menu{ role: 'menu' }
					- FORMAT_LABELS.each do |fmt, label| 
						- if fmt != @type
							%li= link_to t("format-#{fmt.to_s.parameterize}"), (request.url =~ /\?/) ? request.url.gsub(@type.to_s, fmt.to_s) : "/#{fmt}"

		%ul.nav.navbar-nav.navbar-right
			%li
				=link_to t('nav-quick-help'), '#', :class => 'quick-help-toggle'
			%li
				=link_to t('nav-tutorial'), '/help'
			%li
				=link_to t('nav-about'), '/about'
			%li.dropdown
				%a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
					= @languages[session[:language]]
					%span.caret
				%ul.dropdown-menu{ role: 'menu' }
					- @languages.each do |id, lang|
						%li{ :class => (id == session[:language]) ? 'active' : '' }= link_to lang, "/set_language?lang=#{id}"
