!!!
%html{:lang => 'en'}
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => content_for?(:description) ? yield(:description) : "Papers Past", :name => "description"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)

    %meta{:charset => "utf-8"}
    %title= content_for?(:title) ? yield(:title) : "Papers Past"

  %body{:class => "#{controller_name} #{action_name}"}
    = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        = yield
      %footer
        .container
          .row
            .col-md-9
              =link_to "About Papers Past", '#'
              •
              =link_to "Getting Started", '#'
              •
              =link_to "Legal notices", '#'
            .col-md-3
              = link_to image_tag("logo-nlnz.jpg"), 'http://natlib.govt.nz/'
